In [1]:
import pandas as pd
df = pd.read_csv('../lib/bokeh/app/all_stocks_5yr.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
date      619040 non-null object
open      619029 non-null float64
high      619032 non-null float64
low       619032 non-null float64
close     619040 non-null float64
volume    619040 non-null int64
Name      619040 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 33.1+ MB

In [2]:
df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [3]:
df['Name'].value_counts()

MTB      1259
VRTX     1259
EA       1259
MCK      1259
GOOGL    1259
MDLZ     1259
NRG      1259
SLG      1259
RE       1259
GPN      1259
MU       1259
XEC      1259
UHS      1259
HCA      1259
PKI      1259
CRM      1259
ARE      1259
ORLY     1259
CNP      1259
ROK      1259
CDNS     1259
ALK      1259
CELG     1259
STX      1259
PG       1259
EIX      1259
KSS      1259
BBT      1259
WM       1259
GS       1259
         ...
DHR      1243
IQV      1197
COTY     1173
NWSA     1169
FOXA     1169
FOX      1169
NWS      1169
ALLE     1063
GOOG      975
NAVI      960
INFO      917
SYF       888
CFG       850
QRVO      781
WRK       662
KHC       655
PYPL      655
HPQ       581
HPE       581
CSRA      561
WLTW      528
UA        464
FTV       404
EVHC      297
HLT       276
DXC       215
BHGE      152
BHF       143
DWDP      109
APTV       44
Name: Name, Length: 505, dtype: int64