In [1]:
import pandas as pd

df = pd.read_excel('/home/sha/dev/books/personal-finance-with-python/data/xirr.xlsx')

In [2]:
df

        date  income  expenses
0 2017-01-01       0     -3000
1 2018-01-01    1000         0
2 2019-01-01    1000         0
3 2020-01-01    1000         0
4 2021-01-01    1000         0

In [3]:
df['total'] = df.income + df.expenses
df

        date  income  expenses  total
0 2017-01-01       0     -3000  -3000
1 2018-01-01    1000         0   1000
2 2019-01-01    1000         0   1000
3 2020-01-01    1000         0   1000
4 2021-01-01    1000         0   1000

In [ ]:
def xnpv(rate, values, dates):
    '''Replicates the XNPV() function'''
    min_date = min(dates)
    return sum([
        value / (1 + rate)**((date - min_date).days / 365)
        for value, date in zip(values, dates)
    ])