In [1]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
s = pd.Series([10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [3]:
s[3]

13

In [4]:
pd.Series(['刘备', '关羽', '张飞', '诸葛亮', '赵云'])

0     刘备
1     关羽
2     张飞
3    诸葛亮
4     赵云
dtype: object

In [5]:
pd.Series([2]*5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [6]:
pd.Series(list('abcde'))

0    a
1    b
2    c
3    d
4    e
dtype: object

In [7]:
pd.Series({
    '贾政': '父亲',
    '王夫人': '母亲',
    '贾宝玉': '儿子',
    '晴雯': '丫鬟'
})

贾政     父亲
王夫人    母亲
贾宝玉    儿子
晴雯     丫鬟
dtype: object

In [8]:
pd.Series(np.arange(4, 9))

0    4
1    5
2    6
3    7
4    8
dtype: int64

In [9]:
pd.Series(np.linspace(0, 9, 5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [10]:
np.random.seed(12345)
pd.Series(np.random.normal(size=5))

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

In [11]:
pd.Series(2)

0    2
dtype: int64

In [12]:
s = pd.Series(np.arange(0, 5))
s * 2

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [13]:
s.values

array([0, 1, 2, 3, 4])

In [14]:
type(s.values)

numpy.ndarray

In [15]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
len(s)

5

In [17]:
s.size

5

In [18]:
s.shape

(5,)

In [19]:
labels = ['Mike', 'Marcia', 'Mikael', 'Bleu']
role = ['Dad', 'Mom', 'Son', 'Dog']
s = pd.Series(labels, index=role)
s

Dad      Mike
Mom    Marcia
Son    Mikael
Dog      Bleu
dtype: object

In [20]:
s.index

Index(['Dad', 'Mom', 'Son', 'Dog'], dtype='object')

In [21]:
s['Dad']

'Mike'

In [22]:
s = pd.Series(np.arange(1, 10), index=list('abcdefghi'))

In [23]:
s.head()

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
s.head(n=3)

a    1
b    2
c    3
dtype: int64

In [25]:
s.tail()

e    5
f    6
g    7
h    8
i    9
dtype: int64

In [26]:
s.take([1, 5, 8])

b    2
f    6
i    9
dtype: int64

In [27]:
s1 = pd.Series(np.arange(10, 15), index=list('abcde'))
s1

a    10
b    11
c    12
d    13
e    14
dtype: int64

In [28]:
s1['a']

10

In [29]:
s1[['d', 'b']]

d    13
b    11
dtype: int64

In [30]:
s1[[3, 1]]

d    13
b    11
dtype: int64

In [31]:
s1.iloc[[0, 2]]

a    10
c    12
dtype: int64

In [32]:
s1.loc[['a', 'd']]

a    10
d    13
dtype: int64

In [33]:
s2 = pd.Series([1, 2, 3, 4], index=[10, 11, 12, 13])

In [34]:
s2

10    1
11    2
12    3
13    4
dtype: int64

In [35]:
s2.loc[[11, 12]]

11    2
12    3
dtype: int64

In [36]:
s1.loc[['a', 'f']]

/home/sha/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

a    10.0
f     NaN
dtype: float64

In [37]:
s = pd.Series(np.arange(100, 110), index=np.arange(10, 20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int64

In [38]:
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int64

In [39]:
s.iloc[[1, 2, 3, 4, 5]]

11    101
12    102
13    103
14    104
15    105
dtype: int64

In [40]:
s1 = pd.Series([1, 2], index=['a', 'b'])
s1

a    1
b    2
dtype: int64

In [41]:
s2 = pd.Series([4, 3], index=['b', 'a'])
s2

b    4
a    3
dtype: int64

In [42]:
s1 + s2

a    4
b    6
dtype: int64

In [43]:
t = pd.Series(2, s1.index)
t

a    2
b    2
dtype: int64

In [44]:
s1 * t

a    2
b    4
dtype: int64

In [45]:
s1

a    1
b    2
dtype: int64

In [46]:
s3 = pd.Series([5, 6], index=['b', 'c'])
s3

b    5
c    6
dtype: int64

In [47]:
s1 + s3

a    NaN
b    7.0
c    NaN
dtype: float64

In [48]:
s = pd.Series(np.arange(0, 5), index=list('abcde'))
logical_results = s >= 3
logical_results

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [49]:
s[logical_results]

d    3
e    4
dtype: int64

In [50]:
s[s > 5]

Series([], dtype: int64)

In [51]:
s[s > 3]

e    4
dtype: int64

In [52]:
s[(s >= 2) & (s < 5)]

c    2
d    3
e    4
dtype: int64

In [53]:
(s >= 0).all()

True

In [54]:
s[s < 2].any()

True

In [55]:
(s < 2).sum()

2

In [56]:
np.random.seed(123456)
s = pd.Series(np.random.randn(5))
s

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [57]:
np.random.seed(123456)
s1 = pd.Series(np.random.randn(4), ['a', 'b', 'c', 'd'])
s1

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64

In [58]:
s2 = s1.reindex(['a', 'c', 'g'])
s2

a    0.469112
c   -1.509059
g         NaN
dtype: float64

In [59]:
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [60]:
s2.index = s2.index.values.astype(int)
s1 + s2

0    3
1    5
2    7
dtype: int64

In [61]:
s

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [62]:
s2 = s.copy()
s2

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [63]:
s2.reindex(['a', 'f'], fill_value=0)

a    0.0
f    0.0
dtype: float64

In [64]:
s3 = pd.Series(['red', 'green', 'blue'], index=[0, 3, 5])
s3

0      red
3    green
5     blue
dtype: object

In [65]:
s3.reindex(np.arange(0, 7), method='ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [66]:
s3.reindex(np.arange(0, 7), method='bfill')

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object

In [67]:
np.random.seed(123456)
s = pd.Series(np.random.randn(3), index=['a', 'b', 'c'])
s

a    0.469112
b   -0.282863
c   -1.509059
dtype: float64

In [68]:
s['d'] = 100
s

a      0.469112
b     -0.282863
c     -1.509059
d    100.000000
dtype: float64

In [69]:
s['d'] = -100
s

a      0.469112
b     -0.282863
c     -1.509059
d   -100.000000
dtype: float64

In [70]:
del(s['a'])
s

b     -0.282863
c     -1.509059
d   -100.000000
dtype: float64