In [1]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sp500 = pd.read_csv('/home/sha/data/stock/learning_pandas_data/sp500.csv', index_col='Symbol', usecols=[0, 2, 3, 7])

In [3]:
newSP500 = sp500.rename(columns={'Book Value': 'BookValue'})
newSP500[:2]

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573

In [4]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [5]:
sp500.rename(columns={'Book Value': 'BookValue'}, inplace=True)
sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

In [6]:
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

In [7]:
sp500_copy = sp500.copy()
sp500_copy['RoundedPrice'] = sp500.Price.round()
sp500_copy[:2]

             Sector   Price  BookValue  RoundedPrice
Symbol
MMM     Industrials  141.14     26.668         141.0
ABT     Health Care   39.60     15.573          40.0

In [8]:
copy = sp500.copy()
copy.insert(1, 'RoundedPrice', sp500.Price.round())
copy[:2]

             Sector  RoundedPrice   Price  BookValue
Symbol
MMM     Industrials         141.0  141.14     26.668
ABT     Health Care          40.0   39.60     15.573

In [9]:
# copy of subset / slice
ss = sp500[:3].copy()
# add the new column initialized to 0
ss.loc[:, 'PER'] = 0
ss

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668    0
ABT     Health Care   39.60     15.573    0
ABBV    Health Care   53.95      2.954    0

In [10]:
# copy of subset / slice
ss = sp500[:3].copy()
# add the new column initialized with random numbers
np.random.seed(123456)
ss.loc[:, 'PER'] = pd.Series(np.random.normal(size=3), index=ss.index)
ss

             Sector   Price  BookValue       PER
Symbol
MMM     Industrials  141.14     26.668  0.469112
ABT     Health Care   39.60     15.573 -0.282863
ABBV    Health Care   53.95      2.954 -1.509059

In [11]:
rounded_price = pd.DataFrame({'RoundedPrice': sp500.Price.round()})
concatenated = pd.concat([sp500, rounded_price], axis=1)
concatenated[:5]

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668         141.0
ABT                Health Care   39.60     15.573          40.0
ABBV               Health Care   53.95      2.954          54.0
ACN     Information Technology   79.79      8.326          80.0
ACE                 Financials  102.91     86.897         103.0

In [13]:
rounded_price = pd.DataFrame({'Price': sp500.Price.round()})
rounded_price[:5]

        Price
Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0

In [14]:
dups = pd.concat([sp500, rounded_price], axis=1)
dups[:5]

                        Sector   Price  BookValue  Price
Symbol
MMM                Industrials  141.14     26.668  141.0
ABT                Health Care   39.60     15.573   40.0
ABBV               Health Care   53.95      2.954   54.0
ACN     Information Technology   79.79      8.326   80.0
ACE                 Financials  102.91     86.897  103.0

In [15]:
dups.Price[:5]

         Price  Price
Symbol
MMM     141.14  141.0
ABT      39.60   40.0
ABBV     53.95   54.0
ACN      79.79   80.0
ACE     102.91  103.0

In [16]:
reversed_column_names = sp500.columns[::-1]
sp500[reversed_column_names][:5]

        BookValue   Price                  Sector
Symbol
MMM        26.668  141.14             Industrials
ABT        15.573   39.60             Health Care
ABBV        2.954   53.95             Health Care
ACN         8.326   79.79  Information Technology
ACE        86.897  102.91              Financials

In [17]:
copy = sp500.copy()
copy.Price = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [18]:
copy = sp500.copy()
copy.loc[:, 'Price'] = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

In [19]:
copy = sp500.copy()
del copy['BookValue']
copy[:2]

             Sector   Price
Symbol
MMM     Industrials  141.14
ABT     Health Care   39.60

In [20]:
copy = sp500.copy()
popped = copy.pop('Sector')
copy[:2]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573

In [21]:
popped[:5]

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [22]:
popped.head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [23]:
copy = sp500.copy()
after_drop = copy.drop(['Sector'], axis=1)
after_drop[:5]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573
ABBV     53.95      2.954
ACN      79.79      8.326
ACE     102.91     86.897

In [24]:
df1 = sp500.iloc[0:3].copy()
df2 = sp500.iloc[[10, 11, 2]]
appended = df1.append(df2)
appended

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
A       Health Care   56.18     16.928
GAS       Utilities   52.98     32.462
ABBV    Health Care   53.95      2.954

In [25]:
df1

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954

In [26]:
df2

             Sector  Price  BookValue
Symbol
A       Health Care  56.18     16.928
GAS       Utilities  52.98     32.462
ABBV    Health Care  53.95      2.954

In [27]:
df3 = pd.DataFrame(0.0, index=df1.index, columns=['PER'])
df3

        PER
Symbol
MMM     0.0
ABT     0.0
ABBV    0.0

In [28]:
df1.append(df3)

/home/sha/anaconda3/envs/py36/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

        BookValue  PER   Price       Sector
Symbol
MMM        26.668  NaN  141.14  Industrials
ABT        15.573  NaN   39.60  Health Care
ABBV        2.954  NaN   53.95  Health Care
MMM           NaN  0.0     NaN          NaN
ABT           NaN  0.0     NaN          NaN
ABBV          NaN  0.0     NaN          NaN

In [29]:
df1.append(df3, ignore_index=True)

   BookValue  PER   Price       Sector
0     26.668  NaN  141.14  Industrials
1     15.573  NaN   39.60  Health Care
2      2.954  NaN   53.95  Health Care
3        NaN  0.0     NaN          NaN
4        NaN  0.0     NaN          NaN
5        NaN  0.0     NaN          NaN

In [30]:
df2_2 = df2.copy()
df2_2.insert(3, 'Foo', pd.Series(0, index=df2.index))
df2_2

             Sector  Price  BookValue  Foo
Symbol
A       Health Care  56.18     16.928    0
GAS       Utilities  52.98     32.462    0
ABBV    Health Care  53.95      2.954    0

In [31]:
pd.concat([df1, df2])

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
A       Health Care   56.18     16.928
GAS       Utilities   52.98     32.462
ABBV    Health Care   53.95      2.954

In [32]:
pd.concat([df1, df2_2])

/home/sha/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

        BookValue  Foo   Price       Sector
Symbol
MMM        26.668  NaN  141.14  Industrials
ABT        15.573  NaN   39.60  Health Care
ABBV        2.954  NaN   53.95  Health Care
A          16.928  0.0   56.18  Health Care
GAS        32.462  0.0   52.98    Utilities
ABBV        2.954  0.0   53.95  Health Care

In [33]:
r = pd.concat([df1, df2_2], keys=['df1', 'df2'])
r

/home/sha/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

            BookValue  Foo   Price       Sector
    Symbol
df1 MMM        26.668  NaN  141.14  Industrials
    ABT        15.573  NaN   39.60  Health Care
    ABBV        2.954  NaN   53.95  Health Care
df2 A          16.928  0.0   56.18  Health Care
    GAS        32.462  0.0   52.98    Utilities
    ABBV        2.954  0.0   53.95  Health Care

In [34]:
ss = sp500[:3].copy()
ss.loc['FOO'] = ['the sector', 100, 110]
ss

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
FOO      the sector  100.00    110.000

In [35]:
ss = sp500[:5]
ss

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897

In [36]:
after_drop = ss.drop(['ABT', 'ACN'])
after_drop[:5]

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABBV    Health Care   53.95      2.954
ACE      Financials  102.91     86.897

In [37]:
selection = sp500.Price > 300
(len(selection), selection.sum())

(500, 10)

In [38]:
price_less_than_300 = sp500[~selection]
price_less_than_300

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897
...                        ...     ...        ...
YHOO    Information Technology   35.02     12.768
YUM     Consumer Discretionary   74.77      5.147
ZMH                Health Care  101.84     37.181
ZION                Financials   28.43     30.191
ZTS                Health Care   30.53      2.150

[490 rows x 3 columns]