In [1]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.DataFrame(np.arange(1, 6))

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
df = pd.DataFrame(np.array([[10, 11], [20, 21]]))
df

    0   1
0  10  11
1  20  21

In [4]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [5]:
df = pd.DataFrame(np.array([[70, 71], [90, 91]]), columns=['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0        70            71
1        90            91

In [6]:
len(df)

2

In [7]:
df.shape

(2, 2)

In [8]:
temps_missoula = [70, 71]
temps_philly = [90, 91]
temperatures = {
    'Missoula': temps_missoula,
    'Philadelphia': temps_philly
}
pd.DataFrame(temperatures)

   Missoula  Philadelphia
0        70            90
1        71            91

In [9]:
temps_at_time0 = pd.Series([70, 90])
temps_at_time1 = pd.Series([71, 91])
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df

    0   1
0  70  90
1  71  91

In [10]:
df = pd.DataFrame([temps_at_time0, temps_at_time1], columns=['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0       NaN           NaN
1       NaN           NaN

In [11]:
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df.columns = ['Missoula', 'Philadelphia']
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [12]:
temps_mso_series = pd.Series(temps_missoula)
temps_phl_series = pd.Series(temps_philly)
df = pd.DataFrame({
    'Missoula': temps_mso_series,
    'Philadelphia': temps_philly
})
df

   Missoula  Philadelphia
0        70            90
1        71            91

In [13]:
temps_nyc_series = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({
    'Missoula': temps_mso_series,
    'Philadelphia': temps_phl_series,
    'New York': temps_nyc_series
})
df

   Missoula  Philadelphia  New York
0      70.0          90.0       NaN
1      71.0          91.0      85.0
2       NaN           NaN      87.0

In [14]:
sp500 = pd.read_csv('/home/sha/data/stock/learning_pandas_data/sp500.csv', index_col='Symbol', usecols=[0, 2, 3, 7])

In [15]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [16]:
len(sp500)

500

In [17]:
sp500.shape

(500, 3)

In [18]:
sp500.size

1500

In [19]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [20]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [21]:
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [22]:
type(sp500['Sector'])

pandas.core.series.Series

In [24]:
sp500[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

In [25]:
type(sp500[['Price', 'Book Value']])

pandas.core.frame.DataFrame

In [26]:
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

In [27]:
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [29]:
sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [30]:
sp500.iloc[[0, 2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

In [31]:
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

In [32]:
sp500.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

In [33]:
sp500.at['MMM', 'Price']

141.14

In [34]:
sp500.iat[0, 1]

141.14

In [35]:
sp500[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [36]:
sp500['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

In [37]:
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [38]:
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

In [41]:
sp500[sp500.Price > 300]

                        Sector    Price  Book Value
Symbol
AMZN    Consumer Discretionary   312.24      22.452
AAPL    Information Technology   614.13     139.460
AZO     Consumer Discretionary   540.90     -51.275
BLK                 Financials   300.69     156.547
CMG     Consumer Discretionary   522.32      52.915
GOOG    Information Technology   552.70     135.977
GHC     Consumer Discretionary   677.29       0.000
ISRG               Health Care   363.86      95.224
NFLX    Information Technology   402.35      24.664
PCLN               Industrials  1197.12     137.886

In [42]:
r = sp500[(sp500.Price < 10) & (sp500.Price > 6)]['Price']
r

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

In [43]:
r = sp500[(sp500.Sector == 'Health Care') & (sp500.Price > 100.00)][['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

In [44]:
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53